<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Hello World!</title>
    <script>if (typeof module === 'object') {window.module = module; module = undefined;}</script>
    <link rel="stylesheet" href="public/css/semantic.min.css"/>
    <link rel='stylesheet prefetch' href="public/css/icon.min.css">
    <script src="public/js/jquery.min.js"></script>
    <script src="public/js/semantic.min.js"></script>
  </head>
  <body>
    <div ng-app="inicio" ng-controller="inicioCtrl">
      {{test}}
      <!-- INICIO -->
      <div class="ui left demo vertical inverted sidebar labeled icon menu" id="right">
        <a class="item">
          <i class="home icon"></i>
          Home
        </a>
        <a class="item">
          <i class="block layout icon"></i>
          Topics
        </a>
        <a class="item">
          <i class="smile icon"></i>
          Friends
        </a>
      </div>

      <div class="ui fixed inverted menu">
        <div class="ui container">
          <a href="#" class="header item">
            <img class="logo" src="public/img/bear.png" height="42" width="62">
            Quinfort-postgresql
          </a>
          <a href="#" class="item">Home</a>
          <a href="#" class="item" ng-click="btnDerecho()">Panel derecho</a>
          <div class="ui simple dropdown item">
            Dropdown <i class="dropdown icon"></i>
            <div class="menu">
              <a class="item" href="#">Link Item</a>
              <a class="item" href="#">Link Item</a>
              <div class="divider"></div>
              <div class="header">Header Item</div>
              <div class="item">
                <i class="dropdown icon"></i>
                Sub Menu
                <div class="menu">
                  <a class="item" href="#">Link Item</a>
                  <a class="item" href="#">Link Item</a>
                </div>
              </div>
              <a class="item" href="#">Link Item</a>
            </div>
          </div>
        </div>
      </div>

      <div id="body" style="padding-top:2.5cm; padding-left:.5cm; padding-right:.5cm">
        <div class="ui grid">
          <div class="ui icon buttons">
            <button class="ui button" ng-click="btnConexion()">
              <i class="icon database"></i>
              Nueva conexión
            </button>
            <button class="ui button"><i class="underline icon"></i></button>
            <button class="ui button"><i class="text width icon"></i></button>
          </div>
        </div>
      </div>

      <div class="ui modal">
        <i class="close icon"></i>
        <div class="header">
          Nueva conexión
        </div>
        <div class="image content">
          <div class="ui medium image">
            <img src="public/img/server.png">
          </div>
          <div class="description">
            <div class="ui header">
              Tipo de conexion
            </div>
            <div class="field">
              <select class="ui fluid dropdown" ng-model="conn.tipo">
                <option value="">Url</option>
                <option value="">Credenciales</option>
              </select>
            </div>
          </div>
        </div>
        <div class="actions">
          <div class="ui black deny button">
            Cancelar
          </div>
          <div class="ui positive right labeled icon button">
            Probar conexión
            <i class="checkmark icon"></i>
          </div>
        </div>
      </div>

    </div>
  </body>

  <script>
    require('../../public/js/angular.min.js')
    require('../app.js')
  </script>
</html>
